.companyName {
  color: #f82586;
}

.button-color {
  background-color: #f82586 !important;
  transition: background-color 0.3s ease;
  color: black !important;
}

.button-color:hover {
  color: #f82586 !important;
  background-color: black !important;
}

a {
  text-decoration: none;
  color: black;
}
.graduationPage {
  color: #f82586;
}
