body {
  background-color: #f0dfdb;
}

.companyName {
  color: #f0dfdb;
  font-size: 40px;
  font-family: "Fredericka the Great", serif !important;
}

.button-color {
  background-color: #970430 !important;
  transition: background-color 0.3s ease;
  color: black !important;
  font-weight: bold;
  font-family: "Fredericka the Great", serif !important;
}

.button-color:hover {
  color: #f0dfdb !important;
  background-color: black !important;
}

a {
  text-decoration: none;
  color: black;
}
.graduationPage {
  color: #970430;
}

.images {
  height: 400px;
}

.prices {
  font-weight: bold;
  font-family: "Quicksand", sans-serif;
}

.heading {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
}

.links {
  padding: 20px;
}
