.companyName {
  color: #f82586;
  font-size: 40px;
}

.button-color {
  background-color: #f82586 !important;
  transition: background-color 0.3s ease;
  color: black !important;
  font-weight: bold;
}

.button-color:hover {
  color: #f82586 !important;
  background-color: black !important;
}

a {
  text-decoration: none;
  color: black;
}
.graduationPage {
  color: #f82586;
}

.images {
  height: 400px;
}

.prices {
  font-weight: bold;
}
